-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: sisdp
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cadcelular`
--

DROP TABLE IF EXISTS `cadcelular`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cadcelular` (
  `id` int NOT NULL AUTO_INCREMENT,
  `data` date NOT NULL,
  `ip` varchar(20) DEFAULT NULL,
  `boe` varchar(20) DEFAULT NULL,
  `pessoa` varchar(100) DEFAULT NULL,
  `telefone` varchar(20) DEFAULT NULL,
  `imei1` varchar(30) DEFAULT NULL,
  `imei2` varchar(30) DEFAULT NULL,
  `processo` varchar(30) DEFAULT NULL,
  `status` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadcelular`
--

LOCK TABLES `cadcelular` WRITE;
/*!40000 ALTER TABLE `cadcelular` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadcelular` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadintimacao`
--

DROP TABLE IF EXISTS `cadintimacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cadintimacao` (
  `id` int NOT NULL AUTO_INCREMENT,
  `Intimacao_ID` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `data` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `data_comp` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `delegado` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `escrivao` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `delegacia` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `cidade` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `BOE` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `Nome` varchar(100) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `Endereco` varchar(200) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `Telefone` varchar(20) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `dataoitiva` varchar(50) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  `hora` char(10) CHARACTER SET utf8mb3 COLLATE utf8mb3_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=192 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadintimacao`
--

LOCK TABLES `cadintimacao` WRITE;
/*!40000 ALTER TABLE `cadintimacao` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadintimacao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadpessoa`
--

DROP TABLE IF EXISTS `cadpessoa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cadpessoa` (
  `IdCad` int NOT NULL AUTO_INCREMENT,
  `Nome` varchar(100) DEFAULT NULL,
  `Alcunha` varchar(100) DEFAULT NULL,
  `Nascimento` varchar(15) DEFAULT NULL,
  `Idade` varchar(3) DEFAULT NULL,
  `EstCivil` varchar(50) DEFAULT NULL,
  `Naturalidade` varchar(50) DEFAULT NULL,
  `RG` varchar(50) DEFAULT NULL,
  `CPF` varchar(15) DEFAULT NULL,
  `Profissao` varchar(50) DEFAULT NULL,
  `Instrucao` varchar(50) DEFAULT NULL,
  `Telefone` varchar(20) DEFAULT NULL,
  `Mae` varchar(100) DEFAULT NULL,
  `Pai` varchar(100) DEFAULT NULL,
  `Endereco` varchar(200) DEFAULT NULL,
  `Apreensao` varchar(200) DEFAULT NULL,
  `ListarCrime` varchar(100) DEFAULT NULL,
  `TipoPenal` varchar(100) DEFAULT NULL,
  `Fianca` varchar(20) DEFAULT NULL,
  `FiancaExt` varchar(100) DEFAULT NULL,
  `Parente` varchar(50) DEFAULT NULL,
  `Familia` varchar(50) DEFAULT NULL,
  `Advogado` varchar(50) DEFAULT NULL,
  `JuizMandado` varchar(100) DEFAULT NULL,
  `ComarcaMandado` varchar(100) DEFAULT NULL,
  `Nmandado` varchar(50) DEFAULT NULL,
  `Recolher` varchar(100) DEFAULT NULL,
  `OfJuiz` varchar(50) DEFAULT NULL,
  `OfPromotor` varchar(50) DEFAULT NULL,
  `OfDefensor` varchar(50) DEFAULT NULL,
  `OfCustodia` varchar(50) DEFAULT NULL,
  `Autor1` varchar(50) DEFAULT NULL,
  `Autor2` varchar(50) DEFAULT NULL,
  `Autor3` varchar(50) DEFAULT NULL,
  `Autor4` varchar(50) DEFAULT NULL,
  `Autor5` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`IdCad`)
) ENGINE=InnoDB AUTO_INCREMENT=9430 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadpessoa`
--

LOCK TABLES `cadpessoa` WRITE;
/*!40000 ALTER TABLE `cadpessoa` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadpessoa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadprincipal`
--

DROP TABLE IF EXISTS `cadprincipal`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cadprincipal` (
  `id` int NOT NULL AUTO_INCREMENT,
  `data` date NOT NULL,
  `data_comp` varchar(50) DEFAULT NULL,
  `data_ext` varchar(100) DEFAULT NULL,
  `delegado` varchar(50) DEFAULT NULL,
  `escrivao` varchar(50) DEFAULT NULL,
  `delegacia` varchar(50) DEFAULT NULL,
  `cidade` varchar(100) DEFAULT NULL,
  `policial_1` varchar(50) DEFAULT NULL,
  `policial_2` varchar(50) DEFAULT NULL,
  `BOE` varchar(50) DEFAULT NULL,
  `boe_pm` varchar(50) DEFAULT NULL,
  `IP` varchar(50) DEFAULT NULL,
  `dp_resp` varchar(50) DEFAULT NULL,
  `cid_resp` varchar(100) DEFAULT NULL,
  `bel_resp` varchar(50) DEFAULT NULL,
  `escr_resp` varchar(50) DEFAULT NULL,
  `data_fato` varchar(12) DEFAULT NULL,
  `data_instauracao` varchar(12) DEFAULT NULL,
  `hora_fato` varchar(10) DEFAULT NULL,
  `end_fato` varchar(200) DEFAULT NULL,
  `meios_empregados` varchar(50) DEFAULT NULL,
  `motivacao` varchar(50) DEFAULT NULL,
  `incidencia_penal` varchar(100) DEFAULT NULL,
  `comarca` varchar(100) DEFAULT NULL,
  `vitima` varchar(50) DEFAULT NULL,
  `autor` varchar(50) DEFAULT NULL,
  `status` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5423 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadprincipal`
--

LOCK TABLES `cadprincipal` WRITE;
/*!40000 ALTER TABLE `cadprincipal` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadprincipal` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cadveiculo2`
--

DROP TABLE IF EXISTS `cadveiculo2`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cadveiculo2` (
  `id` int NOT NULL AUTO_INCREMENT,
  `data` date NOT NULL,
  `ip` varchar(20) DEFAULT NULL,
  `boe` varchar(20) DEFAULT NULL,
  `pessoa` varchar(100) DEFAULT NULL,
  `veiculo` varchar(20) DEFAULT NULL,
  `placa` varchar(30) DEFAULT NULL,
  `chassi` varchar(30) DEFAULT NULL,
  `sei` varchar(30) DEFAULT NULL,
  `status` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cadveiculo2`
--

LOCK TABLES `cadveiculo2` WRITE;
/*!40000 ALTER TABLE `cadveiculo2` DISABLE KEYS */;
/*!40000 ALTER TABLE `cadveiculo2` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `IDUSUARIO` int NOT NULL AUTO_INCREMENT,
  `NOME` varchar(50) DEFAULT NULL,
  `APELIDO` varchar(50) DEFAULT NULL,
  `DNI` varchar(8) DEFAULT NULL,
  `DIRECAO` varchar(100) DEFAULT NULL,
  `TELEFONE` varchar(50) DEFAULT NULL,
  `LOGIN` varchar(50) DEFAULT NULL,
  `PASSWORD` varchar(50) DEFAULT NULL,
  `ACESSO` varchar(1) DEFAULT NULL,
  PRIMARY KEY (`IDUSUARIO`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'VANDELEYS LIMA','VAN','5680000','CENTRO','87999628657','vandeleys.silva','van771984MT','1'),(7,'MARCOS ANTONIO','MARCOS','56800000','CENTRO','99999999999','marcos.silva','Antoniomarcos23','1'),(8,'20DESEC','AIS20','5680000','CENTRO','00000000000','20desec','Plantao20Desec','1'),(9,'DP167CIRC','167','5680000','CENTRO','00000000000','dp167circ','dp167circ','1');
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-23 19:02:23
